@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primaryColor: theme("colors.primary");
    --primaryLightColor: theme("colors.primaryLight");
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor) !important;
}

.thumbnail::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

body {
}

.ant-btn-primary {
  background-color: var(--primaryColor) !important;

  &:hover {
    background-color: "#fff" !important;
    border: 1px solid var(--primaryColor) !important;
  }
}

.ant-btn-default {
  border: 1px solid var(--primaryColor) !important;
}

/* .ant-menu-item-selected {
  color: var(--primaryColor) !important;
}
.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: var(--primaryColor) !important;
  background-color: #eff6ff1a !important;
  font-weight: 700 !important;
}

.ant-menu-submenu-active > .ant-menu-submenu-title {
  background-color: #eff6ff1a !important;
  color: rgb(90, 255, 186) !important;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title {
  background-color: #eff6ff1a !important;
  color: rgb(90, 255, 186) !important;
}
.ant-menu-menu:hover > .ant-menu-submenu-title {
  background-color: #eff6ff1a !important;
  color: rgb(90, 255, 186) !important;
}

.ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #eff6ff1a !important;
  color: rgb(90, 255, 186) !important;
}

.ant-menu-submenu-title {
  color: #fff !important;
}

.ant-menu-item {
  color: #f1f1f1 !important;
}

.ant-menu {
  background-color: #005555 !important;
}
.ant-menu-item-selected {
  background-color: #eff6ff1a !important;
  color: rgb(90, 255, 186) !important;
} */

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
}

.ant-menu-submenu-active > .ant-menu-submenu-title {
  color: var(--primaryColor) !important;
}

.ant-menu-submenu-active > .ant-menu-submenu-title:hover {
  color: #fff !important;
}

.ant-menu-menu:hover > .ant-menu-submenu-title {
  color: #fff !important;
}

.ant-form-item-label {
  font-weight: 700 !important;
}

.ant-drawer-header {
  display: none !important;
}
.ant-table-content {
  max-width: 1800px !important;
  overflow-x: auto !important;
}

.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}

.two-grid {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-4;
}
.three-grid {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-4;
}
.my-container {
  @apply container mx-auto;
}

.new-container {
  @apply max-w-[1280px] mx-auto px-2 lg:px-12 xxl:px-0;
}

.swiper-pagination-bullet {
  transform: scale(1.5);
}
.swiper-pagination-bullet-active {
  background-color: var(--primaryColor) !important;
  transform: scale(2);
}
